.type-item {
    padding: 4px 10px;
    border: 1px solid #fafafa;
    border-radius: 8px;
    background-color: #ff994e;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #333;
    font-weight: 600;
}
